.container{
  display: flex;
  justify-content: flex-end;
  padding:20px 20px;
  background-color: black;
  color: #3586ff;

}

.search{
background: none;
color: #3586ff;
padding:5px;
border: 2px solid #3586ff;
border-radius:5px;
}
fa-icon{
  padding:10px;
}
